.canvas {
   display: flex;
   padding: 0 0 32px 0;
   justify-content: center;
   align-items: end;
   height: 100vh;
}

.brush-cursor {
   cursor: url('../img/icons8-eraser-tool-48.png') 10 10, auto;
}

canvas {
   border: 1px solid rgb(80, 76, 76);
   background-color: #fff;
}